<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Slayer Game</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js" defer></script>
  </head>

  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>

    <div id="game">
      <div id="main--area">
        <section id="monster" class="container game-section">
          <h2>Monster</h2>
  
          <div class="healthbar">
            <div class="healthbar__value" :style="monsterBarStyles"></div>
          </div>
  
          <div>
            <img class="character--image" :src="monsterImage" alt="monster-image" />
          </div>
        </section>
  
        <section id="player" class="container game-section">
          <h2>Hero</h2>
  
          <div class="healthbar">
            <div class="healthbar__value" :style="playerBarStyles"></div>
          </div>
  
          <div>
            <img class="character--image" :src="heroImage" alt="hero-image" />
          </div>
        </section>
  
        <div class="container game-section" v-if="winner">
          <h2>Game Over!</h2>
          <h3 v-if="winner === 'monster'">You lost !</h3>
          <h3 v-else-if="winner === 'player'">You won!</h3>
          <h3 v-else>It's a draw</h3>
          <button @click="startGame">Start Game</button>
        </div>
  
        <section id="controls" class="game-section" v-else>
          <button @click="attackMonster">ATTACK</button>
          <button :disabled="mayUseSpecialAttack" @click="specialAttackMonster">SPECIAL ATTACK</button>
          <button @click="healPlayer">HEAL</button>
          <button @click="surrender">SURRENDER</button>
        </section>
      </div>

      <section id="log" class="container game-section">
        <h2>Battle Log</h2>
        <ul v-for="logMessage in logMessageList">
          <span :class="logMessageByClass(logMessage)">
            {{ capitalizeFirstLetter(logMessage.actionBy) }}
          </span>
          
          <span v-if="logMessage.actionType === 'heal'">
            heals himself for
            <span class="log--heal">{{ logMessage.actionValue }}</span>
          </span>

          <span v-else>
            attacks and deals
            <span class="log--damage">{{ logMessage.actionValue }}</span>
          </span>
        </ul>
      </section>
    </div>
  </body>
</html>
